.color{
  background-color: #424242;
  opacity: 0.4;
}

.not-show{
 
  background-color: #C2C2C2;
 opacity: 0.6; 
   
 } 
.body {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity:1;
   
  }
  
  .header {
    height: 94px;
    display: flex;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 30px #7B7B7B29;
  }
  
  .tasks {
    font-size: 40px;
    font-weight: bold;
    margin-left: 6rem;
  }
  
  .list {
    color: #00a5ec;
    font-size: 40px;
  }

  .main {
    width: 85%;
    margin: 0 auto;
  }

  .add-new-task-container {
    display: flex;
    justify-content:center;
    gap: 4px;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  .add-new-task {
    margin: 0;
    text-align: left;
    font: normal normal normal 22px/26px Inter;
    letter-spacing: 0px;
    color: #424242;
    opacity: 1;
    
  } 
  
  .cards-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 352px;
    height: 360px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
  }
  
  .todo-title {
    padding: 1rem 0;
    margin: 0;
    border-bottom: 1px solid black;
    text-align: left;
    font: normal normal medium 20px/24px Inter;
    letter-spacing: 0px;
    color: #00A5EC;
    opacity: 1;
  }
  
  .checkbox {
    margin: 0px; 
    top: 342px;
    left: 175px;
    width: 18px;
    height: 18px;
    opacity: 1;
  }
  
  .card-item {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 0;
    text-align: left;
    font: normal normal normal 18px/21px Inter;
    letter-spacing: 0px;
    color: #424242;
    opacity: 1;
  }

  .width-90 {
    width: 90%;
  }
  
  .margin-x-auto {
    margin: 0 auto;
  }
  
  .strike-through{
    text-decoration: line-through;
  }

.pop-up{
    position: absolute;
    left:500px;
    top:250px; 
    height: 250px;
    width:500px ;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    color:#404040;
    opacity: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #67676729;
    

}

 #new-task{
   
    position: absolute;
    top: 0px;
    height:50px;
    border-bottom: 1px solid; 
    border-color: #EDEDED; 
    width: 100%;
    font: medium  Inter;
    color: #404040;
    letter-spacing: 0px;
    opacity: 1;
    font-size: 22px;
}


#xmark{
    position: absolute;
    left: 450px;
    top:15px ; 

}

.textarea{
    position: absolute;
    top: 90px;
    left: 4px;
    width: 465px;
    height: 40px;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    opacity: 1;
}

.pop-up-button{
  
    position: absolute;
    top: 170px;
    left: 296px;
    width: 180px;
    color: #FFFFFF;
    border-color: #00A5EC; 
    cursor: pointer; 
    background: #00A5EC 0% 0% no-repeat padding-box;
    height: 48px;
    border-radius: 4px;
    opacity: 1;
    font-size: larger;
    

}   

@media(max-width:700px)
{
     .pop-up{
        position: absolute;
        left:20px;
        top: 255px;
        width: 340px;
        height: 250px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 20px #67676729;
        border: 1px solid #EDEDED;
        border-radius: 10px;
        opacity: 1;
    }

    
    #xmark{
    position: absolute;
    left: 300px;
    top:20px ; 
    }

    

    .textarea{
        border-top: 1px solid;
        width: 320px;

    }

    .pop-up-button{
        position: absolute;
        left: 150px;

    } 
}
